{% extends 'bloggerBloggerBundle::layout.html.twig' %}

{% block title %}Contacts{% endblock%}

{% block content %}
    <header>
        <h1>Contacts</h1>
    </header>

    {% if app.session.hasFlash('blogger-notice') %}
        <div class="blogger-notice">
            {{ app.session.flash('blogger-notice') }}
        </div>
    {% endif %}

    <article>
        <form action="{{ path('blogger_blogger_contacts') }}" method="post" {{ form_enctype(form) }} class="blogger">
            {{ form_errors(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.subject) }}
            {{ form_row(form.body) }}

            {{ form_rest(form) }}

            <input type="submit" value="submit" />
        </from>
    </article>
{% endblock %}